.nav__burger-container {
    height: 20px;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    opacity: 0;

    &.active {
        .nav__burger {
            background: $light-text;
            &::before {
                animation: animateTopBurger 0.5s ease-in-out forwards;
            }
            &::after {
                animation: animateBottomBurger 0.5s ease-in-out forwards;
            }
        }
    }

    &.closed {
        .nav__burger {
            background: $dark-text;
            transition: 0.5s background ease-in-out;
            &::before {
                animation: animateTopBurgerBack 0.5s ease-in-out forwards;
            }
            &::after {
                animation: animateBottomBurgerBack 0.5s ease-in-out forwards;
            }
        }
    }
}

.nav__burger {
    height: 2px;
    width: 100%;
    background: $dark-text;
    position: relative;

    &::before,
    &::after {
        content: '';
        height: 2px;
        width: 100%;
        position: absolute;
        background: $dark-text;
    }
    &::before {
        transform: translateY(5px);
    }
    &::after {
        transform: translateY(-5px);
    }
}

@keyframes animateTopBurger {
    0% {
        transform: translateY(-5px);
    }
    50% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(0px) rotate(45deg);
    }
}

@keyframes animateBottomBurger {
    0% {
        transform: translateY(5px);
    }
    50% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(0px) rotate(-45deg);
    }
}

@keyframes animateTopBurgerBack {
    0% {
        transform: translateY(0px) rotate(45deg);
    }
    50% {
        transform: translateY(0px) rotate(0deg);
    }
    100% {
        transform: translateY(-5px) rotate(0deg);
    }
}

@keyframes animateBottomBurgerBack {
    0% {
        transform: translateY(0px) rotate(-45deg);
    }
    50% {
        transform: translateY(0px) rotate(0deg);
    }
    100% {
        transform: translateY(5px) rotate(0deg);
    }
}

@media (min-width: 1024px) {
    .nav__burger-container {
        display: none;
    }
}
