@import './burger.scss';

.nav {
    display: flex;
    align-items: center;
    font-size: 0.8rem;
    padding: 0.5rem $horizontal-padding;
    background: $light-text;
    z-index: 1000;

    position: sticky;
    top: 0;

    &__logo {
        height: 3rem;
    }

    &__phone {
        margin-left: 0.8rem;
    }

    &__menu-container {
        position: absolute;
        top: 100%;
        right: 0;
        width: 100%;
        overflow: hidden;
        pointer-events: none;
    }

    &__menu {
        padding: 1rem 1.5rem;
        list-style-type: none;
        background: #fffffa;
        transform: translateY(-100%);
        display: flex;
        flex-direction: column;
    }

    &__menu-item {
        font-size: 1rem;
        margin-bottom: 1rem;
        pointer-events: all;
        padding: 1rem 0;
        position: relative;
        display: inline-block;
        align-self: flex-end;
        will-change: filter;
        transition: filter 0.2s ease-out;
        background: inherit;
        cursor: pointer;
        &:hover {
            filter: brightness(0.8);
        }
        a {
            text-decoration: none;
            color: $dark-text;
        }
    }
}
