$light-text: #fffffa;
$dark-text: #33333f;
$main-color: #2e2d60;
$second-color: #454491;
$contrast-color: #eabc8c;

$horizontal-padding: 1.5rem;
$vertical-padding: 3rem;

@import './header/header.scss';

html {
    font-family: 'Montserrat', sans-serif;
}

body {
    color: $dark-text;
}
