.section--offer {
    background: rgba(51, 51, 63, 1);
    color: $light-text;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &::before {
        position: absolute;
        top: -30px;
        left: 50%;
        content: '';
        width: 60px;
        height: 60px;
        background: #fff;
        transform: rotate(45deg) translateX(-50%);
    }
    &::after {
        background-repeat: no-repeat;
        position: absolute;
        top: 0;
        left: 0;
        content: '';
        height: 100%;
        width: 100%;
        opacity: 0.1;
        background: url('../assets/polygon.svg');
        background-position: 20% 0;
        background-size: 500%;
        background-repeat: no-repeat;
        z-index: -1;
    }
}

.offer__text {
    margin-bottom: 2rem;
    line-height: 1.5;
    max-width: 300px;
    text-align: center;
}

.offer__item {
    margin-bottom: 2rem;

    &-header {
        margin-bottom: 0.5rem;
        text-transform: uppercase;
    }

    &-text {
        max-width: 250px;
        line-height: 1.4;
    }
}

.offer__pricing {
    margin-top: 1rem;
    display: block;
    color: $contrast-color;
    font-weight: 700;
}

@media (min-width: 768px) {
    .offer__items {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 0 4rem;
    }

    .offer__item:nth-child(odd) {
        .offer__item-header,
        .offer__item-text {
            text-align: right;
        }
    }

    .section--offer::after {
        background-size: 150%;
    }
}
@media (min-width: 1024px) {
    .offer__text {
        max-width: 500px;
    }

    .offer__item-text {
        max-width: 300px;
    }
}
