.section--offer {
    background: rgba(51, 51, 63, 1);
    color: $light-text;
    position: relative;
    z-index: 1;
    &::before {
        position: absolute;
        top: -30px;
        left: 50%;
        content: '';
        width: 60px;
        height: 60px;
        background: #fff;
        transform: rotate(45deg) translateX(-50%);
    }
    &::after {
        background-repeat: no-repeat;
        position: absolute;
        top: 0;
        left: 0;
        content: '';
        height: 100%;
        width: 100%;
        opacity: 0.1;
        background: url('../assets/polygon.svg');
        background-position: 20% 0;
        background-size: 500%;
        background-repeat: no-repeat;
        z-index: -1;
    }
}

.offer__item {
    margin-bottom: 4rem;

    &-header {
        margin-bottom: 0.5rem;
        text-transform: uppercase;
    }

    &-text {
        max-width: 250px;
    }
}

.offer__pricing {
    margin-top: 1rem;
    display: block;
    color: $contrast-color;
    font-weight: 700;
}
