.slider {
    width: 100%;
    position: relative;
    overflow: hidden;
}

.opinions {
    width: 400%;
    display: flex;
}

.opinion {
    width: 25%;
    display: flex;
    align-items: center;
    flex-direction: column;

    &__img-container {
        height: 100px;
        width: 100px;
        overflow: hidden;
        border-radius: 50%;
        margin-bottom: 2rem;
    }

    &__img {
        height: 100%;
    }

    &__text {
        text-align: center;
        position: relative;
        padding-bottom: 1rem;
    }

    &__author {
        position: absolute;
        bottom: 0;
        right: 0;
        font-style: italic;
        font-size: 0.8rem;
    }
}
