.section.section--opinions {
    padding-bottom: 8rem;
}

.slider {
    width: 100%;
    max-width: 450px;
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    padding-bottom: 1rem;

    &__prev,
    &__next {
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        outline: none;
        opacity: 0.5;
        cursor: pointer;
        border: none;
        position: absolute;
        bottom: 75%;
    }

    &__prev {
        left: 0;
    }

    &__next {
        right: 0;
    }

    &__indicators {
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 20px;
        transform: translateY(-50%);
        display: flex;
        justify-content: space-between;
    }

    &__indicator {
        height: 4px;
        width: 4px;
        background: #000;
        opacity: 0.3;
    }

    &__indicator--1 {
        opacity: 0.6;
        transform: scaleY(2);
        transform-origin: bottom;
    }
}

.opinions {
    width: 400%;
    display: flex;
}

.opinion {
    width: 25%;
    display: flex;
    padding: 0 1rem;
    align-items: center;
    flex-direction: column;

    &__img-container {
        height: 100px;
        width: 100px;
        overflow: hidden;
        border-radius: 50%;
        margin-bottom: 1rem;
    }

    &__img {
        height: 100%;
    }

    &__text {
        text-align: center;
        position: relative;
        padding-bottom: 1.5rem;
        max-width: 300px;
        line-height: 1.4;
    }

    &__author {
        position: absolute;
        bottom: 0;
        right: 0;
        font-style: italic;
        font-size: 0.8rem;
    }
}
