.section--contact {
    background: #fcfcfc;
    position: relative;
    z-index: 1;

    &::before {
        content: '';
        position: absolute;
        top: -15px;
        left: -50px;
        width: 130%;
        height: 50px;
        background: #fcfcfc;
        transform: rotate(5deg);
        box-shadow: -2px -2px 3px rgba(0, 0, 0, 0.2);
    }
}

.contact__details {
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contact__detail {
    width: 100%;
    max-width: 400px;
    height: 120px;
    padding: 2rem;
    margin-bottom: 6rem;
    background: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;

    &:last-child {
        margin-bottom: 3rem;
    }

    &:hover &-img {
        filter: sepia(50%);
    }

    &-img {
        position: absolute;
        top: -25px;
        left: 50%;
        transform: translateX(-50%);
        height: 50px;
        width: 50px;
        border-radius: 50%;
        background: $contrast-color;
        display: flex;
        align-items: center;
        justify-content: center;
        will-change: filter;
        transition: filter 0.2s ease-in-out;

        img {
            width: 50%;
        }
    }

    &-type {
        text-transform: uppercase;
        margin-top: 1rem;
        margin-bottom: 0.5rem;
        letter-spacing: 1px;

        a {
            text-decoration: none;
            color: inherit;
        }
    }
}

.contact__fb-link {
    font-weight: 700;
    color: $main-color;
    text-transform: uppercase;
}

.form {
    &__header {
        margin-bottom: 2rem;
        letter-spacing: 1px;
        text-transform: uppercase;
    }

    &__input,
    &__text-area {
        display: block;
        margin-bottom: 2rem;
        width: 80%;
        max-width: 500px;
        resize: none;
        padding: 0.8rem 0.4rem;
        border-radius: 2px;
        border: 1px solid rgba(0, 0, 0, 0.5);
        will-change: transform;
        transition: transform 0.3s ease-in-out;

        &:focus {
            transform: translateY(-5px);
        }
    }

    &__text-area {
        height: 200px;
    }

    label {
        display: block;
        margin-bottom: 0.5rem;
    }

    &__checkbox {
        cursor: pointer;
        max-width: 500px;
    }

    &__submit {
        padding: 0.5rem 1.5rem;
        border: 1px solid rgba(0, 0, 0, 0.5);
        border-radius: 4px;
        background: #fff;
        color: $dark-text;
        font-weight: 700;
        text-transform: uppercase;
        position: relative;
        will-change: transform;
        transition: transform 0.3s ease-in-out;
        cursor: pointer;
        outline: none;
        margin-top: 2rem;

        &:hover {
            transform: translateY(-2px);
        }
    }

    &__greetings {
        margin-top: 1rem;
        opacity: 0;
        will-change: opacity;
        transition: opacity 0.4s ease-out;
    }
}

.form--loading {
    .form__submit {
        border: 1px solid $contrast-color;
        transform: translateY(-2px);
        &::after {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background: #fff;
            display: flex;
            align-items: center;
            justify-content: center;
            background-image: url('../assets/spinner.gif');
            background-size: contain;
            background-position: center center;
            background-repeat: no-repeat;
        }
    }
}

.form.form--success {
    .form__submit {
        border: 1px solid $contrast-color;
        &::after {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background: #fff;
            background-image: url('../assets/done.svg');
            background-size: contain;
            background-position: center center;
            background-repeat: no-repeat;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    .form__greetings {
        opacity: 1;
    }
}

@media (min-width: 768px) {
    .section--contact {
        &::after {
            background-position: 250% 120%;
            background-size: 70%;
        }
    }

    .form__input,
    .form__text-area {
        max-width: 400px;
    }
}

@media (min-width: 1024px) {
    .contact__content {
        display: flex;
        justify-content: space-around;
    }

    .section--contact {
        &::before {
            height: 150px;
            top: -45px;
        }
    }
}
