.footer {
    padding: 1.2rem 0.4rem;
    background: $dark-text;
    color: $light-text;
    font-size: 0.8rem;

    &__header {
        color: $contrast-color;
    }

    &__slogan {
        margin-bottom: 1rem;
        margin-top: -0.2rem;
    }

    &__company {
        margin-bottom: 1.5rem;

        &-detail {
            margin-bottom: 0.3rem;
            span {
                color: $contrast-color;
            }
        }
    }

    &__copyrights {
        position: relative;
    }

    &__dev {
        a {
            text-decoration: none;
            color: $contrast-color;
        }
    }

    &__privacy {
        text-decoration: none;
        color: inherit;
        display: inline-block;
    }

    &__scroll-top {
        background: transparent;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        border: 1px solid $contrast-color;

        display: flex;
        align-items: center;
        justify-content: center;

        overflow: hidden;

        position: absolute;
        right: 0.5rem;
        bottom: 50%;
        transform: translateY(50%);
    }
}
