.footer {
    padding: 2.5rem 1.5rem;
    background: linear-gradient(
        135deg,
        rgba(51, 51, 63, 1) 0%,
        rgba(51, 51, 63, 1) 40%,
        rgba(51, 51, 63, 0.9) 100%
    );
    color: $light-text;
    font-size: 0.8rem;

    &__header {
        color: $contrast-color;
    }

    &__text {
        margin-bottom: 1rem;
        max-width: 200px;
        line-height: 1.4;
    }

    &__company {
        margin-bottom: 1.5rem;

        &-detail {
            margin-bottom: 0.3rem;
            span {
                color: $contrast-color;
            }
        }
    }

    &__copyrights {
        position: relative;
    }

    &__dev {
        a {
            text-decoration: none;
            color: $contrast-color;
        }
    }

    &__privacy {
        margin-top: 0.5rem;
        color: $contrast-color;
        display: inline-block;
    }

    &__scroll-top {
        background: transparent;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        border: 1px solid $contrast-color;
        cursor: pointer;
        outline: none;

        display: flex;
        align-items: center;
        justify-content: center;

        overflow: hidden;

        position: absolute;
        right: 0.5rem;
        bottom: 50%;
        transform: translateY(50%);
    }
}

@media (min-width: 1024px) {
    .footer__company {
        display: flex;
        flex-wrap: wrap;
    }

    .footer__header {
        flex-basis: 100%;
    }

    .footer__company-details {
        margin-left: 3rem;
    }

    .footer__privacy {
        flex-basis: 100%;
    }

    .footer__scroll-top {
        width: 60px;
        height: 60px;
        img {
            height: 60px;
        }
    }
}
