@import './nav.scss';

.header {
    background: linear-gradient(
            0deg,
            rgba(46, 45, 96, 0.95),
            rgba(46, 45, 96, 0.65)
        ),
        url('../assets/hero.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
