.header {
    background: linear-gradient(
            0deg,
            rgba(46, 45, 96, 0.95),
            rgba(46, 45, 96, 0.65)
        ),
        url('../assets/hero.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    color: $light-text;
    min-height: 400px;

    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 4rem $horizontal-padding;

    &__header {
        &-company {
            display: block;
        }
        &-owner {
            color: $contrast-color;
        }
    }

    &__cta {
        align-self: flex-start;
        border: 2px solid $contrast-color;
        background-color: transparent;
        padding: 0.5rem 1rem;
        text-transform: uppercase;
        color: $contrast-color;
        cursor: pointer;
        transition: color 0.2s ease-in-out;
        will-change: transform;
        position: relative;
        margin-top: 2rem;

        &::before {
            content: '';
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            position: absolute;
            background-color: $contrast-color;
            z-index: -1;
            transform: scaleX(0);
            transform-origin: left;
            transition: transform 0.2s ease-in-out;
            will-change: transform;
        }

        &:hover {
            color: $main-color;
            &::before {
                transform: scaleX(1);
            }
        }
    }
}
