.about__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5rem;

    &-icon {
        height: 80px;
        width: 80px;
        background: $main-color;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 0.8rem;

        img {
            height: 50%;
        }
    }

    &-header {
        margin-bottom: 0.4rem;
    }

    &-text {
        text-align: center;
        max-width: 300px;
        line-height: 1.4;
    }
}

.about__cta {
    padding: 0.8rem 2.5rem;
    cursor: pointer;
    margin-top: 2rem;
    color: $light-text;
    background: $main-color;
    text-transform: uppercase;
    border: none;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5), 2px 2px 2px rgba(0, 0, 0, 0.3);
    font-weight: 700;
    letter-spacing: 1px;
    position: relative;
    overflow: hidden;
    &::after {
        position: absolute;
        content: '';
        height: 200%;
        width: 1.5rem;
        top: -50%;
        left: -50%;
        background: rgba(255, 255, 255, 0.3);
        transform: rotate(45deg);
    }
}
